<div class="col-lg-6 d-flex align-items-stretch">
    <div class="info">
        <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Location:</h4>
            <p>Kathmandu, Nepal</p>
        </div>

        <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>purusottamadhikari234@gmail.com</p>
        </div>

        <div class="phone">
            <i class="icofont-phone"></i>
            <h4>Call:</h4>
            <p>+9779810867824</p>
        </div>


        <iframe src="https://maps.google.com/maps?q=ghorahi%20dang&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0; width: 100%; height: 290px;" allowfullscreen>
        </iframe>
    </div>
</div>
<div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">

    {% include 'portfolio/email.html' %}


</div>

</div>

</div>

</div>
</section>